---
import { useTranslations } from "../utils/i18n";

const { lang = "en" } = Astro.props;
const t = useTranslations(lang);
---

<footer id="main-footer" class="footer-glass">
    <div class="footer-links">
        <a href={`/${lang === "en" ? "about" : lang + "/about"}`}
            >{t("nav.about")}</a
        >
        <a href={`/${lang === "en" ? "privacy" : lang + "/privacy"}`}
            >{t("nav.privacy")}</a
        >
        <a href={`/${lang === "en" ? "terms" : lang + "/terms"}`}
            >{t("nav.terms")}</a
        >
        <a href={`/${lang === "en" ? "contact" : lang + "/contact"}`}
            >{t("nav.contact")}</a
        >
        <a href={`/${lang === "en" ? "dmca" : lang + "/dmca"}`}
            >{t("nav.dmca")}</a
        >
    </div>
    <p>{t("footer.rights")}</p>
</footer>
