---
const { lang = 'en' } = Astro.props;
---
<footer id="main-footer">
    <div class="footer-links">
        <a href={`/${lang === 'en' ? 'about' : lang + '/about'}`}>About</a>
        <a href={`/${lang === 'en' ? 'privacy' : lang + '/privacy'}`}>Privacy</a>
        <a href={`/${lang === 'en' ? 'terms' : lang + '/terms'}`}>Terms</a>
        <a href={`/${lang === 'en' ? 'contact' : lang + '/contact'}`}>Contact</a>
    </div>
    <p>&copy; 2026 SaveTikFast. All rights reserved.</p>
</footer>
